
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: url('bgm.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}


.login-container {
    background: rgba(0, 0, 0, 0.5); 
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


.btn {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}


.register-link {
    margin-top: 10px;
}

.register-link a {
    color: #00f725;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
