* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background: url('bgm.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background: rgba(0, 0, 0, 0.5);
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(83, 23, 23, 0.2);
    width: 90%;
    max-width: 400px;
    backdrop-filter: blur(3px);
}

h2 {
    text-align: center;
    margin-bottom: 1.5em;
    color: #fffbfb;
    font-size: 1.5em;
}

form input {
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: rgb(255, 252, 252);
    color: #000000;
    font-size: 1.02em;
}

form button {
    width: 100%;
    padding: 1em;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
}

form button:hover {
    background-color: #45a049;
}

.already-registered {
    text-align: center;
    margin-top: 1em;
    font-size: 1.1em;
    color: #a66d6d;
}

.already-registered a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.already-registered a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .form-container {
        padding: 1.5em;
        width: 80%;
        max-width: 350px;
    }

    h2 {
        font-size: 1.2em;
        margin-bottom: 1em;
    }

    form input, form button {
        font-size: 1em;
        padding: 0.8em;
    }

    .already-registered {
        font-size: 0.9em;
    }
}
